<h1 class="title-banner">
  <%= @list.name %>
</h1>

<div class="back-btn">
  <%= link_to "Movie Lists", lists_path, class: "nav-link active" %>
</div>

<div class="movie-grid">
  <% @movies.each do |movie| %>
    <div class="movie-card">
      <img src="<%= movie.poster_url %>" alt="<%= movie.title %> poster">
      <h3 class='movie-title'><%= movie.title %></h3>
      <p class='movie-overview'><%= movie.overview %></p>
      <p class='movie-rating'>Rating: <%= movie.rating %></p>
    </div>
  <% end %>
</div>

<div class="bookmark-movie">
  <%= simple_form_for [@list, Bookmark.new] do |f| %>
    <%= f.association :movie, label: false, prompt: "Find a movie" %>
    <%= f.input :comment, label: false, placeholder: "Add a comment" %>
    <%= f.button :submit, "Add Movie to List" %>
  <% end %>
</div>
